.calculator-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 600px;
  width: 400px;
  background: #DDDDDD;
  border: solid 3px #7FDBFF;
}

.calculator-wrapper .calculator-body {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  height: 100%;
  width: 100%;
}

.calculator-wrapper .calculator-body .number-pad {
  flex: 3;
  height: 100%;
  /* background: teal; */
}

.calculator-wrapper .calculator-body .action-pad {
  flex: 1;
  height: 100%;
  /* background: lightcoral; */
}

.calculator-wrapper .calculator-body .row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  height: 100px;
  width: 100%;
}

/* TODO - move to Button.css later */
.calculator-wrapper .calculator-body .row > * {
  font-size: 48px;
  height: 100%;
  width: 100%;
}
